<div class="container">

    <div class="column" *ngIf="project">
        <span class="clickable" (click)="goBack()"> Back </span>
    
        <h2>{{project.title | uppercase}}, {{project.year}}</h2>
        
        <div class="row">
            <div class="description">

                <div>
                    {{project.description}}, written in {{project.language}} 
                    <span *ngIf="project.tool.length > 0">using {{project.tool}}</span>.
                </div>
                <div>{{project.details}}</div>
                <div *ngIf="project.code.length > 0"><a class="clickable" href="{{project.code}}">Github repository</a></div>
                <div *ngIf="project.demo.length > 0"><a class="clickable" href="{{project.demo}">Demo</a></div>
            </div>
            <div class="image">
                <img src="{{project.image}}" alt="{{project.image}}">
            </div>
        </div>
        
    </div>

</div>