
.details {
  display: flex;

}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description{
  display: flex;
  flex-direction: column;
  margin: 4px 10px 4px 0px;
  text-align: justify;
}

.image {
  object-fit:contain;
}

.description > div {
  margin: 20px 2px;
}

.details {
  flex-direction: column;
}

a {
  text-decoration: none;
  padding: 3px;
  text-align: center;
}

.clickable {
  cursor:pointer;
  padding: 5px 10px;
  margin: 5px 10px;
}

