<h2 class="container">EXPERIENCE</h2>
<div *ngFor = "let work of works.data" class="container">

    <div class="column">    
        <h3>{{toggleEnglish? work.english.position : work.french.position}}</h3>
        <div>{{work.start}} - {{work.end}} | {{work.location}}</div>
        <ul>
            <li *ngFor="let detail of (toggleEnglish?work.english.details:work.french.details)">{{detail}}</li>
        </ul>
    </div>

</div>

<h2 class="container">EDUCATION</h2>
<div *ngFor = "let school of schools.data" class="container">

    <div class="column">    
        <h3>{{toggleEnglish? school.english.degree : school.french.degree}}</h3>
        <div>{{school.start}} - {{school.end}} | {{school.location}}</div>
    </div>

</div>
