
.details {
    display: flex; 
}


.description{
    display: flex;
    flex-direction: column;
    margin: 4px 10px 4px 0px;
}

.image {
    object-fit:contain;
}

.description > div {
    margin: 20px 2px;
}
  
@media(max-width:799px) {
    .details {
        flex-direction: column;
    }

    .image {
        max-width:320px;
        overflow-y:scroll;
    }
}

@media(min-width:800px) {
    .details {
        flex-direction: row;
    }
}

.details {
    justify-content: space-between;
}
  
a {
    text-decoration: none;
    padding: 3px;
    text-align: center;
}

.clickable {
    cursor:pointer;
    padding: 5px 10px;
    margin: 5px 10px;
}

h1,h3 {
   color: #007BA7;
}