<div *ngFor="let project of projects.data" class="container">

    <div class="column" *ngIf="project">    
        <h2>{{project.year}} <span *ngIf="project.year">| </span>{{project.title | uppercase}}</h2>
        
        <div class="details">
            <div class="description">
                <div>
                    {{toggleEnglish ? project.english.description : project.french.description}}
                </div>
                <div>{{toggleEnglish ? project.english.details : project.french.details}}</div>
                <span *ngIf="project.language"> {{toggleEnglish?'Writtent in':'Écrit en'}} {{project.language}}<span *ngIf="project.tool"> {{toggleEnglish?'with':'avec'}} {{project.tool}}</span>
                </span>

                
                <div *ngIf="project.code">Github repository: <a href="{{project.code}}">{{project.code}}</a></div>
                <div *ngIf="project.demo">Demo: <a href="{{project.demo}}">{{project.demo}}</a></div>
            </div>
            <div *ngIf="project.image" class="image">
                
                <picture>
                    <source media="(max-width: 799px)" srcset="{{imageDirectory}}small/{{project.image}}">
                    <source media="(min-width: 800px)" srcset="{{imageDirectory}}{{project.image}}">
                    <img class="image" src="{{imageDirectory}}{{project.image}}" alt="{{project.image}}">
                </picture>
            </div>
        </div>
        
    </div>

</div>