 <div class="container">

     <div class="navigation">
         <!--<span class="view-icon" (click)="toggleView()"></span>--> 
         <span class="dark-icon" (click)="toggleDarkMode()"></span> 
         <span class="language-icon" (click)="toggleLanguage()"></span>
         <span class="float-right"><a href="linkedin.com/in/lnlukeaustin">linkedin.com/in/lnlukeaustin</a></span>

     </div>
 </div>   


<div class="container border">
    <div id="left">
        <div id="title_group">
            <h1>Luke Austin</h1>  
            <!--<h2 id="banner" >{{bannerText}}</h2>-->
        </div>
    </div>
    
</div>
