.view-icon, .dark-icon, .language-icon {
  cursor: pointer;
  min-height:10px;
  margin: 5px;
}

.view-icon {
    background: no-repeat url("src/assets/view.png");
    padding-left:20px;
}

.dark-icon {
  background: no-repeat url("src/assets/dark.png");
  padding-left:27px;
}

.language-icon {
  background: no-repeat url("src/assets/language.png");
  padding-left:20px;
}


.float-right{
  float:right;
}
  
.border {
  border:solid;
  border-color:#007BA7;
  border-width:5px;
  display:flex;
  padding: 4px;
  flex-direction:row;
  justify-content:space-around;
}


#left {
  max-width:60%;
}

h1 {
  font-size:60px;
}

h1, h3 {
  /*font-size:90px;*/
  color: #007BA7;
}

h1, h2, h3, h4, h5 {
    margin: 2px;
    padding: 2px;
    margin-block-start:0px;
    margin-block-end:0px;
}

h2 {
    font-size: 30px;
}

h4 {
  font-style:oblique 85deg;
  font-weight:500;
}

h5 {
  font-weight:200;
}

.section {
  line-height: 150%;
  max-height:200px;
  overflow-y:scroll;
  padding: 8px;
}

.title_group {
  font-size:30px;
}

.contact_info {
  line-height:30px;
}

.no_dots {
  list-style-type:none;
}
