/* ProjectsComponent's private CSS styles */

#projects {
    list-style-type: none;
    display:flex;
    padding-inline-start: 0px;
}

#projects li {
  display:flex;
  cursor: pointer;
  left: 0;
  margin: 0.5em;
}

#projects li:hover {
  left: .1em;
}

a {
  text-decoration: none;
  cursor: pointer;
}
